@font-face {
    font-family: 'VW-Head';
    src: url('../fonts/vwhead-regular.eot');
    src: url('../fonts/vwhead-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwhead-regular.woff2') format('woff2'),
         url('../fonts/vwhead-regular.woff') format('woff'),
         url('../fonts/vwhead-regular.ttf') format('truetype'),
         url('../fonts/vwhead-regular.svg#vw_headregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VW-Head';
    src: url('../fonts/vwhead-bold.eot');
    src: url('../fonts/vwhead-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwhead-bold.woff2') format('woff2'),
         url('../fonts/vwhead-bold.woff') format('woff'),
         url('../fonts/vwhead-bold.ttf') format('truetype'),
         url('../fonts/vwhead-bold.svg#vw_headbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'VW-Head';
    src: url('../fonts/vwhead-extrabold.eot');
    src: url('../fonts/vwhead-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwhead-extrabold.woff2') format('woff2'),
         url('../fonts/vwhead-extrabold.woff') format('woff'),
         url('../fonts/vwhead-extrabold.ttf') format('truetype'),
         url('../fonts/vwhead-extrabold.svg#vw_headextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'VW-Text';
    src: url('../fonts/vwtext-regular.eot');
    src: url('../fonts/vwtext-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwtext-regular.woff2') format('woff2'),
         url('../fonts/vwtext-regular.woff') format('woff'),
         url('../fonts/vwtext-regular.ttf') format('truetype'),
         url('../fonts/vwtext-regular.svg#vw_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}