@font-face {
    font-family: "VW-Head";
    src: url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-regular.eot");
    src: url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-regular.eot?#iefix") format("embedded-opentype"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-regular.woff2") format("woff2"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-regular.woff") format("woff"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-regular.ttf") format("truetype"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-regular.svg#vw_headregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VW-Head";
    src: url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-bold.eot");
    src: url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-bold.eot?#iefix") format("embedded-opentype"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-bold.woff2") format("woff2"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-bold.woff") format("woff"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-bold.ttf") format("truetype"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-bold.svg#vw_headbold") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "VW-Head";
    src: url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-extrabold.eot");
    src: url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-extrabold.eot?#iefix") format("embedded-opentype"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-extrabold.woff2") format("woff2"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-extrabold.woff") format("woff"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-extrabold.ttf") format("truetype"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwhead-extrabold.svg#vw_headextrabold") format("svg");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "VW-Text";
    src: url("http://dm.vw-servicepool.ru/pdf/fonts/vwtext-regular.eot");
    src: url("http://dm.vw-servicepool.ru/pdf/fonts/vwtext-regular.eot?#iefix") format("embedded-opentype"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwtext-regular.woff2") format("woff2"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwtext-regular.woff") format("woff"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwtext-regular.ttf") format("truetype"),
         url("http://dm.vw-servicepool.ru/pdf/fonts/vwtext-regular.svg#vw_textregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
